<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
      <%=yield%>
    </div>
    <a href='/logout'>Logout</a>
  </body>
</html>
